---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$breakpoint: 1000px;

/** Colors **********************************************/

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 23%);
$grey-color-dark:  darken($grey-color, 38%);

$background-color: white;

$text-color:     black;

$pink:        rgb(255, 0, 128);
$red:         #FF3636;
$orange:      #F29105;
$blue:        #2698BA;
$green:       #11D68B;
$grass_green: #B7D12A;
$purple:      #B509AC;

$theme-color:       $pink;
$theme-color-light: lighten($theme-color, 15%);


/** Font **********************************************/

$base-font-family:              Raleway;
$base-font-size:                15px;
$base-line-height:              1.6em;

$smaller-font-size:             13px;
$bigger-font-size:              16px;

/** Misc **********************************************/

$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"base",
		"layout",
		"navbar"
;
