---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$breakpoint: 1000px;

/** Colors **********************************************/

$strawberry:  rgb(255, 0, 128);
$grass_green: #B7D12A;
$teal:        #62C3CF;

$background-color: white;

$text-color:     black;

$theme-color:       $teal;
$theme-color-light: lighten($theme-color, 15%);
$theme-color-dark:  darken($theme-color, 40%);

/** Font **********************************************/

$base-font-family:              'Nunito', sans-serif;

$base-font-size:                15px;
$base-line-height:              1.6em;

$alt-font-family:               'Pangolin', cursive;

$smaller-font-size:             12px;
$bigger-font-size:              16px;

/** Misc **********************************************/

$horizontal-spacing-unit:       50px;
$vertical-spacing-unit:         40px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
		"base",
		"layout",
		"navbar"
;
