<img style="width: 100%;" src="/assets/me.jpg" alt="Riccardo Scandariato"/>

<p>
<i>
Department of Computer Science and Engineering 
<br/>
University of Gothenburg
</i>
</p>

<p>
My <b>email</b> address is:<br/>
<a href="mailto:riccardo.scandariato@cse.gu.se" target="_blank">riccardo.scandariato@cse.gu.se</a>
</p>

<!--
<p>
My office <b>phone</b> is:<br/>
+46 (0)31 772 6031
</p>
-->

<!--
<p>
The <b>address</b> for visitors is:<br/>
H&ouml;rselg&aring;ngen 11,
41756 G&ouml;teborg, Sweden
</p>
-->

<!--
<p>
Jupiter building, 4th floor, Room 408
(<a href="https://www.google.se/maps/place/Hörselgången+11,+417+56+Göteborg/@57.7063685,11.93603,17z/data=!3m1!4b1!4m5!3m4!1s0x464ff350046030b1:0xf37439783ee13b50!8m2!3d57.7063685!4d11.9382187" target="_blank">see the map</a>)
</p>
-->
