/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 100;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}


/**
 * Headings
 */
h1 {
	font-size: 36px;
	padding-bottom: 15px;
}

/**
 * Links
 */

a {
  color: $theme-color;
  text-decoration: none;

  &:hover {
    color: $strawberry; //$theme-color-light;
		text-decoration: none;
  }

  /*
  &:visited {
      color: darken($theme-color, 15%); 
  }
  */
}

/**
 * Fonts
 */

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: $theme-color-light;
  //text-shadow: 2px 2px 5px gray;
}

em {
  font-style: italic;
}

mark {
  font-weight: bold;
  letter-spacing: 0.5px;
  font-size: 1.1em;
  //font-variant: small-caps;
  background-color: $background-color;
  //text-shadow: 2px 2px 5px $theme-color-light;
}

/**
 * Block elelments
 */

 hr {
   width: 50%;
   text-align: left;
   margin-left: 0;
   margin-top: 40px;
   height: 1px;
   border-width: 0;
   color: $theme-color;
   background-color: $theme-color;
 }

blockquote {
  font-style: italic;
  color: $text-color;
  margin-left: 30px;
  border-left: 8px solid $theme-color-light;
  padding-left: $horizontal-spacing-unit / 2;
}

.box {
  border: 2px solid $theme-color; padding: 10px;
  border-radius: 10px;
  box-shadow: 8px 8px 5px lightgrey;
}

.footnote{
  font-size: $smaller-font-size;
}